body {
  overflow-y: scroll;
}

.animate-backdrop {
  -webkit-animation: animate-backdrop 0.3s linear;
  animation: animate-backdrop 0.3s linear;
}

@keyframes animate-backdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
